@font-face{
	font-family: 'Museo Sans Rounded 100';
	src: url(../fonts/MuseoSansRounded-100.otf) format('opentype');
}
*{
	box-sizing: border-box;
}
body{
	background: #000000 ;
	margin: 0;
}

.main-wrapper{
	background: url(../img/mainbg.png) no-repeat ;
	width: 800px;
	height: 600px;
	padding-top: 43px; 
	margin: 0 auto;
}
.wrapper{
	width: 798px;
	height: 513px;
	background: url(../img/bg.png) no-repeat;
	padding: 0;
	position: relative;

}
.logo{
	position: absolute;
	top: 90px;
	left: 84px;
}
.nike-sb{
	position: absolute;
	top: 192px;
	left: 99px;
}
.slider-one{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #293550;
	border: 2px solid #8E949B;
	position: absolute;
	bottom: 74px;
	left: 221px;
}
.slider-two{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	bottom: 75px;
	left: 241px;
}
.slider-three{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #F34B41;
	position: absolute;
	bottom: 75px;
	left: 261px;
}
.slider-four{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #24E7EE;
	position: absolute;
	bottom: 75px;
	left: 281px;
}
.section-right{
	position: absolute;
	height: 392px;
	width: 190px; 
	right: 107px;
	top: 109px; 
}
h1{
	font-family: 'Museo Sans Rounded 100';
	font-size: 24px;
	letter-spacing: 0.02em;
	line-height: 26px;
	color: #e1e1e1;
	font-weight: 100;
	margin-bottom: 0px;
}
p{
	font-family: 'Museo Sans Rounded 100';
	font-size: 14px;
	letter-spacing: 0.02em;
	line-height: 26px;
	color: #e1e1e1;
	font-weight: 100;
	margin-top: 6px; 
}
i{
	margin-left: -3px;
}
i:first-child{
	margin-left: 0;
}
.star-yellow{
	font-size: 12px;
	color: #FAC919;
}
.star-gray{
	font-size: 12px;
	color: #ADB1B5;
	margin-left: -2px;
}
.star-gray:hover{
	color: #FAC919;;
}
.select1{
	width: 70px;
	height: 32px;
	background: transparent;
	color: #e1e1e1;
	font-size: 14px;
	font-family: 'Museo Sans Rounded 100';
	text-align: center;
	padding-left: 10px;
	letter-spacing: 0.02em;
}
button{
	width: 185px;
	height: 40px;
	background: transparent;
	color: #e1e1e1;
	font-size: 14px;
	font-family: 'Museo Sans Rounded 100';
	margin-top: 30px;
	border: 1px solid #e1e1e1;
}
button:hover{
	background-color: #2A3545;
}
.select1:hover{
	background-color: #2A3545;
}
.slider-two:hover{
	border: 2px solid #8E949B;
}
.slider-three:hover{
	border: 2px solid #8E949B;
}
.slider-four:hover{
	border: 2px solid #8E949B;
}